
@import "tailwindcss";

@plugin "daisyui" {
    include: rootcolor;
}

html {
    overscroll-behavior: none;
}

html, body, cards-of-zeal-view {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    --dark-background-color: #0b1114;
    --light-background-color: #ced6e0;
}

:root:not(.embedded), :root:not(.embedded) body {
    font-family: "Menlo", "Consolas", "Monaco", "Lucida Console", monospace;
}

:root, :root body {
    background-color: var(--light-background-color);
}

@media (prefers-color-scheme: dark) {
    :root, :root body {
        background-color: var(--dark-background-color);
    }
}

:root[data-theme="dark"], :root[data-theme="dark"] body {
    background-color: var(--dark-background-color);
}

:root[data-theme="light"], :root[data-theme="light"] body {
    background-color: var(--light-background-color);
}

:root.embedded, .embedded body {
    background-color: transparent !important;
    color-scheme: normal !important;
}

