
@import "tailwindcss";

@plugin "daisyui" {
    root: ":host"; /* select shadow root */
    themes: false; /* inherit from document */
    include: button, checkbox, dropdown, menu, select, join, tooltip, swap, list, collapse;
}

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background: none;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    --card-width: calc(clamp(min(200px, calc(100vw - 16px)), 60vmin, 420px));
    --card-height: calc((4/3) * var(--card-width));
    --max-card-width: 420px;
    --max-card-height: calc((4/3) * var(--max-card-width));
}

:host, [data-theme] {
    font-family: inherit;
    color-scheme: inherit;
    --color-primary: inherit;
    --color-primary-content: inherit;
    background-color: transparent;
}

swiper-container, .todo-list-wrapper {
    position: absolute;
    z-index: 0;
}

.todo-list-wrapper {
    padding-top: 4.5rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}

.todo-list .collapse {
    background-color: var(--bg-color);
    color: var(--fg-color, white);
    cursor: pointer;
}

swiper-container[effect="slider"] {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

swiper-container[effect="cards"] {
    aspect-ratio: 3 / 4;
    width: var(--card-width);
}

swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    user-select: none;
    background-color: var(--bg-color);
    color: var(--fg-color, white);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

swiper-container[effect="cards"] swiper-slide {
    border-radius: 18px;
}

.top-left-toolbar, .top-right-toolbar {
    position: absolute;
    top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    @apply gap-4;
}

.top-left-toolbar {
    left: 16px;
}

.top-right-toolbar {
    right: 16px;
}

.bottom-toolbar {
    position: absolute;
    padding-left: 16px;
    padding-right: 16px;
    bottom: calc(max(16px, 50vh - (var(--card-height) / 2) - 64px));
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    @apply gap-4;
}

:host:has(swiper-container:not([effect="cards"])) .bottom-toolbar, :host:has(.todo-list-wrapper) .bottom-toolbar {
    bottom: calc(max(16px, 50vh - (var(--max-card-height) / 2) - 64px));
}

select {
    text-align: left;
}

select:focus-visible, option:focus-visible {
    outline: none;
}

